<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MiPaginaWeb</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="Inicio">
            Inicio
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            Accidente
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="aprende-mas">
            Aprende Mas
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="calculadora">
            Calculadora
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="tabla-multiplicar">
            Tablas de Multiplicar
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="acerca-de">
            Acerca De
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="registro-accidentes">
            Reporte accdientes
        </NavLink>
    </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reportes">
                <span class="oi oi-document" aria-hidden="true"></span> Reportes
            </NavLink>
        </div>
</nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
