@page "/acerca-de"

<div class="about-container">
    <h1>Acerca de</h1>

    <div class="profile-card">
        <img src="/images/foto personal.jpeg" alt="Foto del estudte" class="profile-photo" />
        <h2>Eduardo Liriano</h2>
        <div class="contact-info">
            <a href="https://wa.me/8498065752" target="_blank" class="contact-link whatsapp">
                <i class="fab fa-whatsapp"></i> WhatsApp
            </a>
            <a href="https://t.me/Eduardo Liriano" target="_blank" class="contact-link telegram">
                <i class="fab fa-telegram"></i> Telegram
            </a>
            <a href="mailto:lirianobaeze@gmail.com" class="contact-link email">
                <i class="fas fa-envelope"></i> Lirianobaeze@gmail.com
            </a>
        </div>
        <div class="description">
            <h3>Mis aspiraciones futuras</h3>
            <p>
                Al terminar mis estudios en el ITLA, aspiro  a poder usar los conociminetos adquiridos para poder seguir desarrollando mi carrera profesional de buena forma. y poder darle soluciones eficientes a las personas que lo necesiten.
            </p>
        </div>
    </div>
</div>