@page "/aprende-mas"

<div class="learn-more-container">
    <h1>Aprende Más sobre Blazor</h1>

    <div class="video-grid">
        <div class="video-item">
            <iframe src="https://www.youtube.com/embed/QXxNlpjnulI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Blazor en 100 segundo.</h3>
            <p>Este video hace una pequeña introduccion a blazor, haciendo un pequeño comentario sobre su historia y hablando tambien sobre como funciona y dando una ejemplificacion de su funcionamiento tan sencillo al escribir un "counter".</p>
        </div>

        <div class="video-item">
            <iframe src="https://www.youtube.com/embed/1HNrYmubNF4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Blazor contra Angular, Vue.js y React</h3>
            <p>Este video explica cómo se compara Blazor con los frameworks Front-End más utilizados: Angular, Vue.js y React.</p>
        </div>

        <div class="video-item">
            <iframe src="https://www.youtube.com/embed/hwzzpOq0MIg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Introducción a Blazor - Qué es Blazor y cómo funciona</h3>
            <p>Este video profundiza mas en que es blazor y como funciona tips de aplicaciones de blazor, beneficios de blazor en el servidor y beneficios Blazor web assembly.</p>
        </div>

        <div class="video-item">
            <iframe src="https://www.youtube.com/embed/u_zllynRo6o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Consumir Web Api con Blazor Web Assembly </h3>
            <p>En este video se explica como consumir Web Api con Blazor.</p>
        </div>

        <div class="video-item">
            <iframe src="https://www.youtube.com/embed/eJ9FqR92DEY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Virtualizar - Optimización del renderizado</h3>
            <p>Este video habla sobre como podemos mejor la renderizacion de las interfaz de usuario Virtualizando.</p>
        </div>
    </div>
</div>