@page "/Inicio"

<div class="home-container">
    <h1 class="welcome-title">¡Bienvenido a mi proyecto Blazor! 👋</h1>
    
    <p class="thank-you">Gracias por visitar mi tarea. Tu interés significa mucho para mí.</p>
    
    <div class="motivation-box">
        <p class="motivation-text">
            "No soy un gran programador; sólo soy un buen programador con grandes hábitos". - Kent Beck.
        </p>
    </div>
    
    <button class="pulse-button">¡Empieza a programar ahora!</button>
</div>